<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%- blocks.title %></title>
	<meta name="description" content="<%- blocks.description %>">
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/config.js"></script>

	<script async src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- // <script src="/libs/angular/angular.min.js"></script> -->
	<script src="/libs/vegas/dist/vegas.js"></script>
	<link rel="stylesheet" href="/libs/vegas/dist/vegas.css">
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css"/>

	<link rel="stylesheet" href="/stylesheets/builded/forms.css"> 
</head>

<body>
<!-- <body class="container"> -->
	<%- partial('particials/header') %>	
	<div class="center-part">
		<%- body %>
	</div>
	<%- partial('particials/footer') %>	

	<%- partial('particials/callback-modal') %>	

	<message></message>

	<style>
	button:focus {
		outline : none !important;
	}
	html, body {
		height: 100%;
		width: 100%;
		background: #FDFDFD;
		-webkit-font-smoothing: antialiased;
	}
	.center-part {
		overflow: hidden;
	}
	*[ng-click] {
		cursor: pointer;
	}
	*:focus {
		outline: none;
	}
	</style>
</body>
</html>