<%- layout('base.ejs')%>
<% block('title', 'Изготовление мебели на заказ Москва. Мебель по индивидуальным размерам и проектам') -%>
<% block('description', 'Мебель на заказ. Изготовление корпусной мебели, мебели из мдф, мебели из дерева. Бесплатный замер, высокое качество. Москва.') -%>

<script src="/javascripts/main.js"></script>

<div class="image-panel"></div>


<div class="interiors container">
	<h2>Каталог мебели на заказ</h2>
	
	<% for (var i in interiors) { %>
		<div class="each-interior col-xs-12">
			<div class="owl-carousels">
				<% var jj = interiors[i].images.length < 4 ? interiors[i].images.length : 4; %>
				<% for (var j = 0; j < jj; j++) { %>
					<a href="/interior/<%= i %>">
						<div class="item">
							<div class="title">
								<span><%= interiors[i].name %></span>
							</div>
							<img src="<%= interiors[i].images[j].src %>" alt="<%= interiors[i].images[j].name %>">
						</div>
					</a>
				<% } %>
			</div>
		</div>
	<% } %>

</div>