<%- layout('base.ejs')%>
<% block('title', 'Изготовление мебели на заказ Москва. Мебель по индивидуальным размерам и проектам') -%>
<% block('description', 'Мебель на заказ. Изготовление корпусной мебели, мебели из мдф, мебели из дерева. Бесплатный замер, высокое качество. Москва.') -%>

<script src="/javascripts/main.js"></script>

<div class="image-panel-wrapper">
	<div class="image-panel"></div>
</div>


<div class="interiors container">
	<h2>Каталог мебели на заказ</h2>
	
	<% for (var i in interiors) { %>
		<div class="each-interior col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="owl-carousels">
				<% var jj = interiors[i].images.length < 4 ? interiors[i].images.length : 4; %>
				<% for (var j = 0; j < jj; j++) { %>
					<a href="/interior/<%= i %>">
						<!-- <div class="item" style="background-image: url('<%= interiors[i].images[j].src %>')"> -->
						<div class="item">
							<img class="owl-lazy" data-src="<%= interiors[i].images[j].src %>">
							<div class="fader">
								<span class="title">
									<p class="name"><%= interiors[i].name %></p>
									<p class="price">от <%= interiors[i].price %> руб.</p>
								</span>
							</div>
						</div>
					</a>
				<% } %>
			</div>
		</div>
	<% } %>

</div>