<%- layout('base.ejs')%>
<% block('title', 'Кондор Мебель мебель на заказ хуе мое') -%>

<script src="/libs/owl-carousel/owl-carousel/owl.carousel.min.js"></script>	
<script src="/javascripts/main.js"></script>

<link rel="stylesheet" href="/libs/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/libs/owl-carousel/owl-carousel/owl.theme.css">

<div class="image-panel"></div>


<div class="interiors container">
	<h2>Каталог мебели на заказ</h2>
	
	<% for (var i in interiors) { %>
		<a href="/interior/<%= i %>">
			<div class="each-interior col-xs-12">
			<!-- <div class="each-interior col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
				<div class="owl-carousels">
					<% var jj = interiors[i].images.length < 10 ? interiors[i].images.length : 10; %>
					<% for (var j = 0; j < jj; j++) { %>
						<div class="item">
							<img src="<%= interiors[i].images[j].src %>" alt="<%= interiors[i].images[j].name %>">
						</div>
					<% } %>
				</div>
				<div class="title">
					<span><%= interiors[i].name %></span>
				</div>
			</div>
		</a>
	<% } %>

</div>