<%- layout('base.ejs')%>
<% block('title', 'Каталог товаров, мебель на заказ') -%>

<link rel="stylesheet" href="/stylesheets/builded/tovar.css"/>
<script src="/javascripts/tovar.js"></script>
<script>
	window.images = <%- JSON.stringify(current_goods_type.images) %>;
</script>

<div class="goods-container container">

	<div class="breadcrumbs">
		<%for (var i = 0, ii = breadcrumbs.length; i < ii; i++) { %>
			<a href="<%= breadcrumbs[i].url %>"><%= breadcrumbs[i].name %></a>
			<span class="fa fa-angle-right icon"></span>
		<% } %>
		<span class="current"><%= current_goods_type.full_name %></span>
	</div>
	
	<div class="product-card">
		<div class="left">
			<div class="main-image" style="background-image:url('<%= current_goods_type.images[0].src %>')"></div>
			<div class="mini-images-container"></div>
		</div>
		<div class="right">
			<div class="info">
				<h1 class="title"><%= current_goods_type.full_name %></h1>
				<p class="description"><%= current_goods_type.description %></p>
				<p class="description">Наши высококвалифицированные мастера помогут вам с идеей вашего заказа и примутся за работу.</p>
				<p class="description">Сроки изготовления изделия от 10 дней.</p>
			</div>

			<div class="k-form">
				<div class="line"><span>позвоните нам</span></div>
				<div class="tel"><span>+7 (495)</span> 782 13 98</div>
				<div class="line"><span>или закажите звонок</span></div>
				<div class="input-wrapper">
					<span class="fa fa-user icon"></span>
					<input type="text">
				</div>
				<div class="input-wrapper">
					<span class="fa fa-phone icon"></span>
					<input type="text">
				</div>
				<div class="input-wrapper">
					<button>Заказать</button>
				</div>
			</div>

		</div>


	</div>


</div>
