<%- layout('base.ejs')%>
<% block('title', 'Каталог товаров, мебель на заказ') -%>

<link rel="stylesheet" href="/stylesheets/builded/tovary.css"/>


<div class="container">
	<div class="good-image">
		<div class="good-title"></div>
	</div>

	<h2>Каталог мебели</h2>	
	
	<div class="left-panel">
		<ul>
			<%for (var i in all_goods) { %>
				<% var g = all_goods[i]; %>

				<li class="<%= g.selected ? 'current' : '' %>">
					<a href="/tovary/<%= i %>">
						<p class="goods-label"><%= g.name %></p>
					</a>
					
					<% if (g.selected) { %>
						<ul class="types-list">
							<% for (var j in g.types) { %>
							<% var t = g.types[j]; %>
								<li class="<%= t.selected ? 'current' : '' %>">
									<a href="/tovary/<%= i %>/<%= j %>">
										<p class="goods-type-label"><%= t.name %></p>
									</a>
								</li>
							<% } %>
						</ul>
					<% } %>

				</li>

			<% } %>
		</ul>
	</div>
	<div class="right-panel">
		<!-- КАТЕГОРИЯ /ТОВАР/ТИП -->
		<% if (current_goods_type) { %>
			<div class="images-container">
				<% var n = 0; for (var j in current_goods_type.images) { %>
					<div class="cell">
						<a href="<%= each_goods_url %>#<%= ++n %>">
							<div class="goods-image-wrapper">
								<div class="image" style="background-image:url('<%= current_goods_type.images[j].src %>')"></div>
								<div class="image-label"><%= current_goods_type.images[j].name %></div>
							</div>
						</a>
					</div>
				<% } %>
			</div>
		<!-- КАТЕГОРИЯ /ТОВАР/ -->
		<% } else if (current_goods) { %>
				
			<% if (current_goods.types) { %>
				<!-- ОТОБРАЖЕНИЕ ТОВАРА С ТИПАМИ -->
				<% for (var i in current_goods.types) { %>
					<% var g = current_goods.types[i]; %>
					<div class="images-container">
						<% var n = 0; for (var j in g.images) { %>
							<div class="cell">
								<a href="<%= each_goods_url %>/<%= i %>#<%= ++n %>">
									<div class="goods-image-wrapper">
										<div class="image" style="background-image:url('<%= g.images[j].src %>')"></div>
										<div class="image-label"><%= g.images[j].name %></div>
									</div>
								</a>
							</div>
						<% } %>
					</div>
				<% } %> <!-- endfor -->
			<% } else { %> <!-- endif -->
				<!-- ОТОБРАЖЕНИЕ ТОВАРА БЕЗ ТИПОВ -->
				<div class="images-container">
					<% var n = 0; for (var j in current_goods.images) { %>
						<div class="cell">
							<a href="<%= each_goods_url %>#<%= ++n %>">
								<div class="goods-image-wrapper">
									<div class="image" style="background-image:url('<%= current_goods.images[j].src %>')"></div>
									<div class="image-label"><%= current_goods.images[j].name %></div>
								</div>
							</a>
						</div>
					<% } %>
				</div>
			<% } %> 
		<% } else { %> <!-- endelse -->
			<!-- БЛАНКОВЫЙ КАТАЛОГ -->
			<div class="images-container">
				<% var n = 0; for (var j in all_goods) { %>
					<div class="cell">
						<a href="/tovary/<%= j %>">
							<div class="goods-image-wrapper">
								<div class="image" style="background-image:url('<%= all_goods[j].image.src %>')"></div>
								<div class="image-label"><%= all_goods[j].name %></div>
							</div>
						</a>
					</div>
				<% } %>
			</div>

		<% } %> 
	</div>
</div>















