<%- layout('base.ejs')%>

<link rel="stylesheet" href="/stylesheets/builded/tovary.css"/>


<div class="container">

	<h2>Каталог мебели</h2>	
	
	<div class="left-panel">
		<ul>
			<%for (var i in all_goods) { %>
				<% var g = all_goods[i]; %>

				<li class="<%= g.selected ? 'current' : '' %>">
					<a href="/tovary/<%= i %>">
						<p class="goods-label"><%= g.name %></p>
					</a>
					
					<% if (g.selected) { %>
						<ul class="types-list">
							<% for (var j in g.types) { %>
							<% var t = g.types[j]; %>
								<li class="<%= t.selected ? 'current' : '' %>">
									<a href="/tovary/<%= i %>/<%= j %>">
										<p class="goods-type-label"><%= t.name %></p>
									</a>
								</li>
							<% } %>
						</ul>
					<% } %>

				</li>

			<% } %>
		</ul>
	</div>
	<div class="right-panel">

		<!-- КАТЕГОРИЯ /ТОВАР/ТИП -->
		<% if (current_goods_type) { %>

			<% block('title', current_goods_type.seo.title) -%>
			<% block('description', current_goods_type.seo.description) -%>

			<p class="goods-title"><%= current_goods_type.name %></p>
			<% if (current_goods_type.price) { %>
				<p class="goods-price">Ориентировочная стоимость от <%= current_goods_type.price %> рублей.</p>
			<% } else { %>
				<p class="goods-price">Стоимость варьируется в зависимости от материалов.</p>
			<% } %>
			<p class="goods-description"><%= current_goods_type.description %></p>

			<div class="images-container">
				<% var n = 0; for (var j in current_goods_type.images) { %>
					<div class="cell">
						<a href="<%= each_goods_url %>#<%= ++n %>">
							<div class="goods-image-wrapper">
								<div class="image" style="background-image:url('<%= current_goods_type.images[j].src %>')"></div>
								<div class="image-label"><%= current_goods_type.images[j].name %></div>
							</div>
						</a>
					</div>
				<% } %>
			</div>
		<!-- КАТЕГОРИЯ /ТОВАР/ -->
		<% } else if (current_goods) { %>

			<% block('title', current_goods.seo.title) -%>
			<% block('description', current_goods.seo.description) -%>

			<p class="goods-title"><%= current_goods.name %></p>
			<% if (current_goods.price) { %>
				<p class="goods-price">Ориентировочная стоимость от <%= current_goods.price %> рублей.</p>
			<% } else { %>
				<p class="goods-price">Стоимость варьируется в зависимости от материалов.</p>
			<% } %>
			<p class="goods-description"><%= current_goods.description %></p>
				
			<% if (current_goods.types) { %>
				<!-- ОТОБРАЖЕНИЕ ТОВАРА С ТИПАМИ -->
				<div class="images-container">
					<% var n = 0; for (var i in current_goods.images) { %>
					<% var g = current_goods.images[i]; %>
						<div class="cell">
							<a href="<%= each_goods_url %><%= g.url_name ? ('/' + g.url_name) : '' %>#<%= ++n %>">
								<div class="goods-image-wrapper">
									<div class="image" style="background-image:url('<%= g.src %>')"></div>
									<div class="image-label"><%= g.name %></div>
								</div>
							</a>
						</div>
					<% } %>
				</div>
			<% } else { %> <!-- endif -->
				<!-- ОТОБРАЖЕНИЕ ТОВАРА БЕЗ ТИПОВ -->

				<div class="images-container">
					<% var n = 0; for (var j in current_goods.images) { %>
						<div class="cell">
							<a href="<%= each_goods_url %>#<%= ++n %>">
								<div class="goods-image-wrapper">
									<div class="image" style="background-image:url('<%= current_goods.images[j].src %>')"></div>
									<div class="image-label"><%= current_goods.images[j].name %></div>
								</div>
							</a>
						</div>
					<% } %>
				</div>
			<% } %> 
		<% } else { %> <!-- endelse -->

			<% block('title', 'Каталог мебели компании "Кондор"') -%>
			<% block('description', 'Мебель на заказ от компании "Кондор" витрины, ресепшн, кровати, обувницы, столешницы, столы, шкафы. Недорого Москва.') -%>

			<!-- БЛАНКОВЫЙ КАТАЛОГ -->
			<div class="images-container">
				<% var n = 0; for (var j in all_goods) { %>
					<div class="cell">
						<a href="/tovary/<%= j %>">
							<div class="goods-image-wrapper">
								<div class="image" style="background-image:url('<%= all_goods[j].image.src %>')">
									<div class="fader">
										<span class="text">
											<p class="label"><%= all_goods[j].name %></p>
											<% if (all_goods[j].price) { %>
												<p class="price">от <%= all_goods[j].price %> руб.</p>
											<% } else { %>
												<p class="price">Цена варьируется</p>
											<% } %>
										</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				<% } %>
			</div>

		<% } %> 
	</div>
</div>















