<link rel="stylesheet" href="/stylesheets/builded/header.css"/>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/callback-modal.js"></script>

<header>
    <div class="mini-wrapper clearfix">
        <div class="logo">
            <img src="/assets/logo-text-no-line-middle.png" alt="Логотип Кондор медель">
        </div>
        <div class="tel">
            <div class="phone">+7 (495) <span> 928 44 84</span></div>
        </div>
        <div class="top clearfix">
            <a href="/about">О компании</a>
            <a href="/prices">Цены</a>
            <a href="/contacts">Контакты</a>
            <a href="/comments">Отзывы</a>
            <a href="/materials">Материалы</a>
            <a href="/dostavka">Доставка и оплата</a>
        </div>
        <div class="bottom clearfix">
            <a class="main-focus" href="/tovary"><span>Мебель на заказ</span></a>
            <!-- <a href="/materials"><span>Материалы</span></a> -->
            <!-- <a href="/dostavka"><span>Доставка и оплата</span></a> -->
            <a class="callback js-init-callbackmodal" href=""><span>Заказать звонок</span></a>
        </div>

    </div>
    <div class="wrapper">
        <div class="top-panel container">
            <a href="/"><div class="logo"></div></a>
            
            <div class="content">
                    
                <div class="top">
                    <a href="/dostavka">Доставка и оплата</a>
                    <a href="/prices">Цены</a>
                    <a href="/about">О компании</a>
                    <!-- <a href="">Доставка и оплата</a> -->
                    <a href="/contacts">Контакты</a>
                    <!-- <a href="/comments">Отзывы</a> -->
                    <!-- <a href="/materials">Материалы</a> -->
                </div>

                <div class="bottom">
                    <!-- <a class="main-focus" id="js-menu-init" href="/tovary">Мебель на заказ -->
                        <!-- <div class="menu-helper"></div> -->
                    <!-- </a> -->
                    <% for (var i in header_goods) { %>
                        <a href="/tovary/<%= i %>"><%= header_goods[i].name %></a>
                    <% } %>

                    <!-- <a href="/materials">Материалы</a> -->
                    <a class="callback js-init-callbackmodal" href="">Заказать звонок</a>
                    <!-- <a href="">Фотографии изделий</a> -->
                    <!-- <a href="/dostavka">Доставка и оплата</a> -->
                </div>
            </div>

            <div class="misc">
                <div class="phone">+7 (495) <span> 928 44 84</span></div>
            </div>

        </div>
    </div>

    <div class="slider-drop-down">
        <div class="menu-wrapper">
            <div class="menu container">
                <div class="left-column">
                    <ul>
                        <% for (var i in header_goods) { %>
                            <li data-goods-type="<%= i %>"><a href="/tovary/<%= i %>"><%= header_goods[i].name %></a></li>
                            <!-- <li><a href="/tovary/stoly">Столы</a></li>
                            <li><a href="/tovary/kuhni">Кухни</a></li>
                            <li><a href="/tovary/krovati">Кровати</a></li>
                            <li><a href="/tovary/tumby">Тумбы</a></li>
                            <li><a href="/tovary/lestnicy">Лестницы</a></li>
                            <li><a href="/tovary/stoleshnicy">Столещницы</a></li>
                            <li><a href="/tovary/komody">Комоды</a></li>-->
                        <% } %>
                    </ul>
                </div>
                <div class="right-column">
                    <div class="image-wrapper">
                        <div class="image"></div>
                        <div class="top-slide"></div>
                        <div class="bottom-slide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>